@font-face {
  font-family: grand;
  src: url(Elgrand-Regular.otf);
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 5px;
  height: 2px;/* A altura só é vista quando a rolagem é horizontal */
}

body::-webkit-scrollbar-track {
  background-color: #F29F05;
  padding: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: #590202;
  border-radius: 0px 5px ;
}
:target {
  scroll-margin-top: 40px;
}

[data-anime] {
  opacity: 0;
  transition: 1s;
}

[data-anime=parteA] {
  transform: translate3d(0, -130px, 0);

}

[data-anime=parteB] {
  transform: translate3d(0, 130px, 0);
}

[data-anime=parteC] {
  transform: translate3d(-300px 0, 0);
}

[data-anime=parteD] {
  transform: translate3d(-300px 0, 0);
}

[data-anime=parteE] {
  transform: translate3d(-300px 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

body {
  margin: auto;
  scroll-behavior: smooth;

  background-image: linear-gradient(to right, #F29F05, #F29F05);
}

#telagrande {
  z-index: 999;
  display: flex;
  width: 100%;
  top: 0;
  position: sticky;
  margin: 0 auto;
  height: 50px;
  background-color: #590202;
}
#telamin {
  z-index: 999;
  display: flex;
  width: 100%;
  top: 0;
  position: sticky;
  margin: 0 auto;
  height: 50px;
  background-color: #75612F;
}

.menu {
  margin: 0 auto;
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 15px;
  margin: 25px 15px;
  font-size: 16px;
}

div#menu > .menu:hover {
  color: rgb(255, 255, 255);
  font-size: 16px;
  border-bottom-width: 2px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: white;
  border-style: solid;
}

div#menu {
  z-index: 999;
  width: 100%;
  margin-top: 10px;
}

header {
  margin-top: 30px;
  color:  #1f1d18;
  padding: 10px;
}

main {
  width: 100%;
}

.titulo{
  float: right;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  margin: -7px 15px;
  font-size: 25px;
}
.titulo:hover{
  color: white;
}

section {
  background-color: rgba(182, 54, 7, 0.3490196078);
  margin: 40px 0px;
  padding: 10px;
  border-radius: 5px;
}

section#projeto {
  background-image: url("pexels-sami-aksu-9899252.jpg");
  background-attachment: fixed;

}

section#pesquisa {
  background-image: url("pexels-lena-khrupina-2683373.jpg");
  background-attachment: fixed;

}

section#produto {
  background-image: url("pexels-oleksandr-p-12955510.jpg");

  background-attachment: fixed;
}

section#mercado {
  background-image: url("limao.jpg");

  background-attachment: fixed;
}

a#link {
  text-decoration: none;
  border-radius: 5px;
  background-color: orange;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: justify;
}

a#link:hover {
  background-color: rgba(248, 222, 213, 0.762);
  color: black;
}

section#desafios {
  background-image: url("pexels-quang-nguyen-vinh-2135677.jpg");

  background-attachment: fixed;
}
h5{
  background-color:#d19020;
  border-radius: 5px;
  color: black;
  width: 220px;
  padding: 5px;
  font-size: 13px;

}
p{
  background-color: rgb(248, 222, 213);
  border-radius: 5px;
  padding: 20px;
  margin: 80px 10px;
  text-align: justify;

}
.text{
  margin: 80px 5px;
}



footer > div > a {
  text-decoration: none;
}



#bytitulo {
  border-bottom-width: 2px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: white;
  border-style: solid;
  width: 200px;
  padding: 5px;
}

footer {
  color: #333029;
  text-align: center;
}

footer > p {
  margin-top: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  .menu {
    text-decoration: none;
    padding: 1px;
    margin: 1px;
    font-size: 12px;
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: white;
    border-style: solid;
  }
  .titulo{
    font-size: 17px;
    margin-top: 0px;
  }
  div#menu > .menu:hover {
    color: rgb(255, 255, 255);
    font-size: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
